 
{% extends 'base.html' %}

{% block title %}Question{% endblock %}

{% block menu %}
    <li><a href="#">Update</a></li>
    <li><a href="#">Delete</a></li>
{% endblock %}

{% block content %}
    <div class="block1">
    <h1>{{ poll.question}}</h1>
    <p>Создан: {{ poll.created_at }}</p>
    <p>Ответы:</p>
    {% for obj in poll.choices.all %}
        <div class="list">
            <div class="row">
                <div class="col-md-5">
        <p class="card-text"> - {{ obj.option }} </p>
                </div>
                <div class="col-md-3">
                <a class="btn btn-outline-info" href="{% url 'choice_update' obj.pk %}"> <i class="fa fa-fw fa-edit"></i></a>
                <a class="btn btn-outline-dark" href="{% url 'choice_delete' obj.pk %}"> <i class="fa fa-fw fa-trash"></i></a>
        </div>
        </div>
    {% endfor %}

    <a class="btn btn-warning" href="{% url 'choice_add' poll.pk %}"> Add option</a>
        </div>
{% endblock %}